In [35]:
# DB-CREATE-TABLE
import sqlite3

connie = sqlite3.connect('test.db')
c = connie.cursor()

c.execute("""

CREATE TABLE IF NOT EXISTS students_sust(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    surname TEXT,
    firstname TEXT

)

""")

c.execute("""
CREATE TABLE IF NOT EXISTS subjects(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    subject_name TEXT,
    teacher TEXT
)


""")

c.execute("""
CREATE TABLE IF NOT EXISTS results(
    student_id INTEGER,
    subject_id INTEGER,
    result TEXT
)
""")

# connie.commit()
# connie.close()

In [36]:
# #population

# import sqlite3

# connie = sqlite3.connect('test.db')
# c = connie.cursor()

# c.execute("""

# INSERT INTO students_sust(surname,firstname) VALUES
# ('Potter', 'Harry'),
# ('BAdhon','rakibul'),
# ('Asif','Tuhin'),
# ('Ta','Priam'),
# ('Habibullah','Masum'),
# ('Sourav','Saha')
# """)
# c.execute("""
# INSERT INTO subjects(subject_name,teacher) VALUES
# ('English','Mr shakespar'),
# ('Mathematics','Kamrul'),
# ('Music','Jhonson'),
# ('Ancient History','Manik mia'),
# ('Chemistry','Khander rifat'),
# ('Bangla','Ashraful alam'),
# ('Physics','Jasim Kabir'),
# ('Literature','Zk Sumon'),
# ('vugol','Obhi sheikh')
# """)
# c.execute("""
# INSERT INTO results (student_id,subject_id,result) VALUES
# ('1','1','A'),
# ('1','2','B'),
# ('1','3','B'),
# ('1','5','B'),
# ('2','4','B'),
# ('2','8','C'),
# ('2','9','B'),
# ('3','1','A'),
# ('3','2','A'),
# ('3','4','A'),
# ('3','8','A'),
# ('3','9','A'),
# ('4','6','C'),
# ('5','6','B'),
# ('5','7','B'),
# ('6','8','C'),
# ('6','1','D'),
# """)

# connie.commit()
# connie.close()

In [39]:
c.execute("SELECT * FROM students_sust")

print(c.fetchall())

[]

In [ ]:
#joinn

# c.execute("""
# SELECT surname,firstname,result,results.subject_id FROM students_sust
# INNER JOIN results ON results.student_id = students.id
# WHERE surname = 'Asif' ba WHERE subject_id=1
# """)

c.execute("""
SELECT surname,firstname,results.result,results.subject_id,subjects.subject_name FROM students_sust
INNER JOIN results ON results.student_id = students.id
INNER JOIN subjects ON subjects.id = results.subject_id
ORDER BY surname
""")


output = c.fetchall()

for item in output:
    print(item)

# print(c.fetchall())